<div class="container">
  <div class="row">
    <div class="col-12">

<h3>商品一覧</h3>
 <!--<table class="table">-->

 <!-- <thead>-->
 <!--   <th>商品名</th>-->
 <!--   <th>税抜金額</th>-->
 <!--   <th>注文ステータス</th>-->
 <!-- </tbody>-->
 <!-- </thead>-->
<% @items.each do |item| %>
   <table class="table">

  <p> <%= link_to item_path(item) do %>
   <%= image_tag item.get_image %>
   <% end %>
   </p>

  <p>商品名 <%= item.name %></p>
  <!--<p>商品説明文：<%#= item.introduction %></p>-->
  <p> ¥<%= item.price %>（税抜金額）</p>
</table>


<% end %>
 </div>
  </div>
